<!-- <p> -->
  <!-- <app-output></app-output> -->

  <nav>
    <a routerLink="/app-designation">Designation</a>   |  
    <a routerLink="/app-employee">Employee</a>   |    
    <a routerLink="/app-reporter">Status</a>   |  
    <a routerLink="/app-employee-reporter">Employee & Manager</a>  |  
    <a routerLink="/app-addemploeye-reporter">Send Email</a>  |
    <a routerLink="/app-get-all-employees">All Employees</a> |
    <a routerLink="/app-get-all-managers">All Managers</a>
  </nav>
  <br/>
  <router-outlet></router-outlet>
<!-- </p> -->
